/*------------------------------ body */
body{
    margin: 0;
}

/*------------------------------ default */
.btnDefaultBlack{
    padding: 11px 32px;
    background: #000000;
    color: #ffffff !important;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}